<div class='container'>
    <div class="header-text">
      <h2>EcomChain <br />pharmaceuticals</h2>
      <p>EcomChain Pharmaceuticals offers a reliable online platform for easy access to a wide range of pharmaceutical products, ensuring fast, secure deliveries.</p>

      <form onSubmit={handleSearchSubmit}>
        <input
          type="text"
          placeholder="Search Medicine..."
        />
        <button type="submit" class="searchButton">Search</button>
      </form>
      
      <button class="orderButton">
        Order
      </button>
    </div>

    <div class='header-img'>
      <img src="images/headerImag.png" alt="" />
    </div>
  </div>
