<div class='footer-container'>
    <div class='company-info'>
        <img src="images/ecclogo.png" alt=''/>
        <p>EcomChain Pharmaceuticals offers a reliable online platform for easy access to a wide range of pharmaceutical products, ensuring fast, secure deliveries.</p>
    </div>
    <div class='company-contacts'>
        <h3>Important Links</h3>
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/'>About</a></li>
            <li><a href='/'>Medicines</a></li>
            <li><a href='/'>Consult doctors</a></li>
            <li><a href='/'>Login</a></li>
            <li><a href='/'>Signup</a></li>
            <li><a href='/'>Your Orders</a></li>
        </ul>
    </div>
    <div class='company-contacts'>
        <h3>Contact</h3>
        <ul>
            <li>Address <br/> Ecomchain, Kochi</li>
            <li>Phone <br/> +91 9605788637</li>
            <li>EMail <br/> midhunmahesh2001gmail.com</li>
        </ul>
    </div>
    <div  class='company-contacts'>
        <h3>Social Media Links</h3>
        <ul>
            <li><a href='/'>Instagram</a></li>
            <li><a href='/'>twiter</a></li>
            <li><a href='/'>facebook</a></li>
        </ul>
    </div>
</div>