
<nav  class='navbar'>
    <a href="/" class='logo'>
    <img src="/images/ecclogo.png" alt="" />
    </a>

    <div class='menu-icon'>
        <div class='bar'></div>
        <div class='bar'></div>
        <div class='bar'></div>
    </div>

    <ul  class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/">Medicines</a></li>
        <li><a href="/">Lab tests</a></li>
        <li><a href="/">Consult doctor</a></li>
        <li><a href="/login">Login/Sign Up</a></li>
        <li><a href="/">Your orders</a></li>
    </ul>
</nav>